/* width */
::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: transparent;
    background-color: $bg-color-primary;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $bg-color-secondary;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $bg-color-third;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: $bg-color-primary;
    border-radius: 0px 0px 10px 0px;
  }